{% load i18n %}

{% for response_timer in response_timers %}
    <h4>{{ response_timer.request.url }}
        ({{ response_timer.duration.milliseconds }} {% trans 'ms' %})</h4>

    {% with 'debug_toolbar/panels/snippets/key_value_table.html' as key_value_template %}
        <h5>{% trans "Response" %}</h5>
        {% include key_value_template with items=response_timer.response.template_items %}

        <h5>{% trans "Request" %}</h5>
        {% include key_value_template with items=response_timer.request.template_items %}
    {% endwith %}
{% endfor %}